/*======HEADER======*/
@media (max-width: 1366px) {/*Laptops/PCs*/
  header {
    /*Box model*/
    height: 4.2rem;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;

    /*Styles*/
    background-color: #333;
    box-shadow: 0 0.13rem 0.50rem #333;

  }
}

@media (max-width: 768px) {/*Ponele que tabletas*/
  header {
    /*Box model*/
    height: 4.2rem;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    /*Styles*/
    background-color: red;
    box-shadow: 0 0.13rem 0.50rem #333;

  }
}

@media (max-width: 480px) {/*Ponele que celulares*/
  header {
    /*Box model*/
    height: 4.2rem;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    /*Styles*/
    background-color: blue;
    box-shadow: 0 0.13rem 0.50rem #333;

  }
}

.header-container {
  /*Box model*/
  width: 100%;
  height: 100%;

  /*Layout*/
  display: flex;
}

.header-container-options {
  display: flex;
  margin-top: 1.1875rem;
  /* 1.9rem ~= 30.4px (quedó igual) */
  margin-left: 62%;
  /* sin cambio: ya es en % */
  column-gap: 4rem;
  /* ya está en rem */
  color: white;
  font-size: 1.2rem;
}

.options {
  color: white;
  transition: 0.5s all;
}

.options:hover {
  color: var(--secondary-grey);
}

a {
  text-decoration: none;
}

.header-box-logo {
  /*Box model*/
  width: 3rem;
  height: 100%;

  /*Layout*/
  display: flex;
  align-items: center;
  margin-left: 2.125rem;
  /* 50px */
}

.header-box-logo img {
  /*Box model*/
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /*Mantiene la proporción de la imagen*/
}

/*======HEADER======*/