/*======MAIN======*/
* {
  font-family: var(--font);
}

.banner {
  /*Box model*/
  width: 1200px;
  height: 450px;
  margin-top: 10px;
  margin-left: 60px;

  /*Layout*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 10px;

  /*Styles*/
  background: linear-gradient(120deg, #000 0%, var(--secondary-grey) 100%);
  box-shadow: 0 2px 10px #000;
  border-radius: 15px;

}

.banner .banner-text p,
h1 {
  /*Box model*/
  width: 400px;
  font-size: 23px;

  /*Layout*/
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin-left: 50px;
  word-spacing: 5px;

  /*Styles*/
  color: white;
}

.banner-text-btn {
  /*Box model*/
  width: 270px;
  height: 60px;

  /*Layout*/
  margin-left: 50px;

  /*Styles*/
  font-size: 23px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  border: solid white 2px;
  transition: 0.5s;
}

.banner-text-btn:hover {
  transition: 0.5s;
  background-color: var(--primary-yellow);
  border: none
}

.banner .banner-logo {
  /*Box model*/
  display: flex;
  width: 300px;
  height: 100%;
}

.banner-logo img:last-child {
  /*Box model*/
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: invert(7%);
}

.header-container-options {
  display: flex;
  margin-top: 45px;
  margin-left: 550px;
  column-gap: 100px;
  color: white;
  font-size: 30px;
}

.options {
  cursor: pointer;
}

/*======DISTROS-CARDS======*/

.distros-cards-container {
  /*Box model*/
  width: 1220px;
  height: 950px;
  margin-top: 100px;
  margin-left: 60px;

  /*Layout*/
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  /*Styles*/
}

.distros-column {
  /*Box model*/
  width: 600px;
  height: 100%;

  /*Layout*/
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  /*Styles*/
}

.distro-card {
  /*Box model*/
  height: 350px;
  /*Styles*/
  color: white;
  /*border: solid white 1px;*/
}

.debian-card {
  /*Box model*/
  height: 100%;
  width: 100%;

  /*Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  /*Alineamiento vertical*/

  /*Styles*/
  background: var(--background-debian-card);
  border-radius: 15px;
}

.debian-card img {
  /*Box model*/
  width: 130px;
  height: auto;
  object-fit: contain;
}


.ubuntu-card {
  /*Box model*/
  height: 100%;
  width: 100%;

  /*Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  /*Alineamiento vertical*/

  /*Styles*/
  border-radius: 15px;
  background: var(--background-ubuntu-card);
}

.ubuntu-card img {
  /*Box model*/
  width: 130px;
  height: auto;
  object-fit: contain;

  /*Styles*/
}

.mint-card {
  /*Box model*/
  height: 100%;
  width: 100%;

  /*Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  /*Alineamiento vertical*/

  /*Styles*/
  border-radius: 15px;
  background: var(--background-mint-card);
}

.mint-card img {
  /*Box model*/
  width: 130px;
  height: auto;
  object-fit: contain;

  /*Styles*/
}

.fedora-card {
  /*Box model*/
  height: 100%;
  width: 100%;

  /*Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  /*Alineamiento vertical*/

  /*Styles*/
  border-radius: 15px;
  background: var(--background-fedora-card);

}

.fedora-card img {
  /*Box model*/
  width: 130px;
  height: auto;
  object-fit: contain;

  /*Styles*/
}

.arch-card {
  /*Box model*/
  height: 100%;
  width: 100%;

  /*Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  /*Alineamiento vertical*/

  /*Styles*/
  border-radius: 15px;
  background: var(--background-arch-card);
}

.arch-card img {
  /*Box model*/
  width: 130px;
  height: auto;
  object-fit: contain;

  /*Styles*/
}

.manjaro-card {
  /*Box model*/
  height: 100%;
  width: 100%;

  /*Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  /*Alineamiento vertical*/

  /*Styles*/
  border-radius: 15px;
  background: var(--background-manjaro-card);
}

.manjaro-card img {
  /*Box model*/
  width: 130px;
  height: auto;
  object-fit: contain;

  /*Styles*/
}

.kali-card {
  /*Box model*/
  height: 100%;
  width: 100%;

  /*Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  /*Alineamiento vertical*/

  /*Styles*/
  border-radius: 15px;
  background: var(--background-kali-card);
}

.kali-card img {
  /*Box model*/
  width: 200px;
  height: auto;
  object-fit: contain;

  /*Styles*/
}

.zorin-card {
  /*Box model*/
  height: 100%;
  width: 100%;

  /*Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  /*Alineamiento vertical*/

  /*Styles*/
  border-radius: 15px;
  background: var(--background-zorin-card);

}

.zorin-card img {
  /*Box model*/
  width: 200px;
  height: auto;
  object-fit: contain;

  /*Styles*/

}



/*======DISTROS-CARDS======*/

/*======MAIN======*/